# Question 1:- Write a python function to check whether a number falls within a given range 10 to 900

In [7]:
def test_range(n):
    if n in range(10,900):
        print('%s is in the range'%str(n))
    else:
        print('The number is outside the given range')

In [8]:
test_range(100)

100 is in the range

# Question 2:- Write a python program to multiply all the numbers in a list

In [9]:
def multiply(n):
    total=1
    for x in n:
        total*=x
    return total

In [13]:
multiply((5,2,3,-3))

-90

# Question 3:- Write a program to print even numbers from the given list

In [15]:
def even_num(l):
    enum=[]
    for n in l:
        if n%2==0:
            enum.append(n)
    return enum

In [18]:
even_num([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

# Question 4:- Write a python function that takes a list and return a new list with distant elements from the first list

In [19]:
def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)

    return x

In [20]:
unique_list([1,2,3,3,3,3,4,4,5,6,6])

[1, 2, 3, 4, 5, 6]

# Question 5:- write a program to create and print a list where the values are the squares of the numbers between 1 to 30 (both included)

In [25]:
def printvalues():
    l=list()
    for i in range(1,31):
        l.append(i**2)
    print(l)

In [26]:
printvalues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]